.carousel-control-prev {
  border-radius: 10px 0 0 10px;
}

.carousel-control-next {
  border-radius: 0 10px 10px 0;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5rem;
  background-color: #0dcaf0;
}

.carousel-indicators {
  margin-bottom: 0;
  background-color: #0dcaf0;
}
